
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(to top left, #191919, #212121, #252525, #191919);
}

header {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(173, 74, 186, 0.6);
    border-bottom: 0.1px solid rgba(173, 74, 186, 0.6);
    align-items: center;
    transition: 0.5s;
}

header h1{
    padding-bottom: 10px;
    color: #00ffe5;
    font-family: Edu AU VIC WA NT Dots;
}

header:hover {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 8px #00eaff7c;
    border-bottom: 0.1px solid #00eaff7c;
    align-items: center;
    transition: 1s;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation ul li {
    margin-left: 15px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.contacts {
    float: left;
    margin-top: 15px;
    margin-right: 1150px;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(148, 74, 186, 0.6);
    transition: 1s;
}

.contacts:hover {
    box-shadow: 0 2px 7px rgb(4, 0, 255);
    transition: 1s;
}

.contacts nav img {
    border-radius: 50px;
    width: 25px;
    height: 25px;
}

.contacts ul {
    list-style: none;
    display: flex;
}

.contacts li {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
}
