<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style_css %} {% endblock %}"
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header></header>
        <h1>GamePyers</h1>
        <div class="contacts">
            <progress max="100" value="12"></progress>
            <details>
                <nav>
                    <ul>
                        <li><a href="https://www.youtube.com/@GamePyers"><img src="{{ url_for('static', filename='img/youtube_logo.webp') }}" alt=""></a></li>
                        <li><a href="/"><img src="{{ url_for('static', filename='img/facebook_logo.png') }}" alt=""></a></li>
                        <li><a href="/"><img src="{{ url_for('static', filename='img/x_logo.avif') }}" alt=""></a></li>
                        <li><a href="/"><img src="{{ url_for('static', filename='img/instagram_logo.png') }}" alt=""></a></li>
                        <li><a href="/"><img src="{{ url_for('static', filename='img/telegram_logo.jpg') }}" alt=""></a></li>
                    </ul>
                </nav>
            </details>
        </div>
        <div class="theme"></div>
        <div class="navigation">
            <nav>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/posts">Посты</a></li>
                    <li><a href="/news">Новости</a></li>
                    <li><a href="/games">Игры</a></li>
                    <li><a href="/logout">Выход</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %} {% endblock %}
</body>
</html>