{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block style_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<main>
    <section class="hero">
        <h1>Добро пожаловать в GamePyers</h1>
        <p>Ваш центр последних игр и новостей.</p>
    </section>

    <section>
        <div class="profil">
            <img src="{{ url_for('static', filename='img/User_Avatar_NOREG.png') }}" alt="avatar">
            <p>{{ user_name }}</p>
            <a href="{{ url_reg_or_profil }}">{{ reg_or_profil }}</a>
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <h3>Невероятные рекорды игроков</h3>
            <p>Будь в курсе невероятных рекордов игроков со всего мира!</p>
        </div>
        <div class="feature">
            <h3>Самые популярные посты</h3>
            <p>Самые громкие темы за неделю!</p>
        </div>
        <div class="feature">
            <h3>Топ популярных игр</h3>
            <p>Топ 3 самых популярных игр от нас!</p>
        </div>
    </section>
</main>
{% endblock %}
