{% extends "base.html" %}

{% block title %}Новые игры - GamePyers{% endblock %}

{% block style_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}

{% block content %}
<main>
    <section class="news-section">
        <h2>Последние новости</h2>
        
        <article class="news-item">
            <h3>Новая игра: Космическая Гонка</h3>
            <p class="date">1 сентября 2024</p>
            <p>Наша новая игра "Космическая Гонка" уже в открытом доступе! Испытайте захватывающее путешествие по галактике...</p>
            <a href="#" class="read-more">Читать далее</a>
        </article>
        
        <article class="news-item">
            <h3>GamePyers контракт с Axelbolt 2024</h3>
            <p class="date">15 августа 2024</p>
            <p>Мы с радостью объявляем о нашем участии в конференции разработчиков вместе с Axelbolt 2024...</p>
            <a href="#" class="read-more">Читать далее</a>
        </article>
        
        <article class="news-item">
            <h3>Новые функции в WayToSolvation</h3>
            <p class="date">20 июля 2024</p>
            <p>Готовьтесь к новым функциям в WTS, включая многопользовательский режим...</p>
            <a href="#" class="read-more">Читать далее</a>
        </article>
    </section>
</main>
{% endblock %}
