<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/successful_registration.css') }}">
</head>
<body>
    <div class="success-container">
        <div class="success-message">
            <h1>Регистрация прошла успешно!</h1>
            <p>Спасибо за регистрацию. Ваша учетная запись успешно создана.</p>
            <a href="/" class="button">Перейти на домашнюю страницу</a>
        </div>
    </div>
</body>
</html>
